body {
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/* FONDO PRIMERA PANTALLA */
#game-intro {
  margin: auto;
  background-image: url('../images/first-capture/first-image-pageload.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#game-intro {
  padding: 10px 0px;
  margin: auto;
}

#game-board {
display: none;
}

#instruccions {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 150px;
}






/* BOTONES MENÚ PRINCIPAL */
#game-buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

button.menu-selection {
  font-size: 30px;
  background-color: transparent;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition-duration: 0.5s; 
}

button.menu-selection:hover {
  font-size: 35px;
  border: 3px solid #29FFE7;
  border-radius: 20px;
}

button.menu-selection:active {
  background-color:#29FFE7;
  color: #000;
}

button.menu-selection img {
  width: 80px;
  margin-right: 5%;
}


#game-buttons button.menu-selection {
  margin: 10px auto;
  width: 80%;
}





/* CAR PANEL SELECTION */
.selection-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 4px #29FFE7;
  border-radius: 20px;
  box-shadow: 3px 3px 4px #fff;
  padding: 50px 150px;
  pointer-events: none;
  opacity: 0;
}

.display-panel {
  pointer-events: auto;
  opacity: 1;
}

#car {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin: 20px;
}

.my-car {
  width: 150px;
  height: auto;
}

.my-car:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #fff );
  filter: drop-shadow(5px 5px 5px #fff);
}


button#close-car-selection {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: #29FFE7;
  padding: 10px;
  border: solid 4px #fff;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 900;
}

button#close-car-selection:hover {
  top: -20px;
  right: -15px;
  padding: 8px;
}

img.arrow-button:active {
  width: 50px;
}




/* CIRCUIT PANEL SELECTION */
.selection-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 4px #29FFE7;
  border-radius: 20px;
  box-shadow: 3px 3px 4px #fff;
  padding: 50px 150px;
  pointer-events: none;
  opacity: 0;
}

.display-panel {
  pointer-events: auto;
  opacity: 1;
}

#circuit {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin: 20px;
}

.my-circuit {
  width: 300px;
  height: auto;
}

button#close-circuit-selection {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: #29FFE7;
  padding: 10px;
  border: solid 4px #fff;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 900;
}

button#close-circuit-selection:hover {
  top: -20px;
  right: -15px;
  padding: 8px;
}
